body {  
	font-family: Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND:white;
	margin-left:5px;
	margin-top:5px;
}

h1 {  
	font-size: 20pt; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-top: 0px; 
	padding-bottom: 0px
}

.input {
	font-size: 9pt
}

.button {
	font-size: 9pt
}

.select {
	font-size: 9pt
}

.textarea {
	font-size: 9pt
}

td {  
	font-size: 10pt
}

.menu a{ 
    font-size: 10pt;
   -moz-transition-property: text-shadow;
   -moz-transition-duration: 0.1s;
   -moz-transition-delay: 0s;
}

.menu a:hover { 
    font-size: 10pt;
     text-shadow: #808080 3px 3px 5px;
   -moz-transition-property: text-shadow;
   -moz-transition-duration: 0.4s;
   -moz-transition-delay: 0s;
}

h2 {  
	font-size: 12pt; 
	margin-bottom: 0px
}

.small {
	font-size: 9pt
}

.verysmall {
	font-size: 8pt
}


a.menuered {
color: #990000;
font-size: 10pt;
        TEXT-DECORATION:none;
font-family: Arial, Helvetica, sans-serif;
}


a.testred:hover { 
text-decoration:none;  
}


a.infobox {  
	text-decoration:none; 
}

a.infobox:hover { 
	text-decoration:none;  
}

a.infobox span 
	{ visibility:hidden; 
		position:absolute;
    margin-top:1.5em; 
    padding:0.5em; 
    text-decoration:none; 
}

a.infobox:hover span, a.infobox:focus span, a.infobox:active span {
	visibility:visible; 
  border:1px solid steelblue; 
  background:white; 
  text-decoration:none;
}




select.imagebacked { 
	padding: 2px 0 3px 155px; 
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
	vertical-align: middle; 
}

option.imagebacked {
	padding: 2px 0 3px 1px; 
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
	vertical-align: top; 
}

.bold {
	font-weight: bold; 
}

span.italic {
	font-style: italic; 
}

span.red {  
	font-size: 10pt; 
	font-weight: bold; 
	color: firebrick}

a {  
	color: firebrick; 
	TEXT-DECORATION: none
}
a:hover {  
	color: black;
}

a.name:link {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #993333;
	font-weight: bold;
}
a.name:visited {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	color: #006633;
	font-weight: bold;
}

a.red {
	color: #993333;
	font-weight: 600; 
}

a.link {
	color: firebrick; 
}

a.blue_underline {
	color: #0000CC;
    font-weight: bold;
	TEXT-DECORATION:underline; 
}

a.green {
	color: #339933;
	TEXT-DECORATION: none; 
}

a.black {
	color: black;
	font-weight: bold; 
	TEXT-DECORATION:none
}

#layer {
  border:1px solid gray;
  margin:20px 10px 0px 10px;
  font:italic 120px verdana, arial, helvetica, sans-serif;
}

#datensatz {
 border:0px solid gray;
 border-collapse:collapse;
 padding:0px 0px 0px 0px;
}

table.tgle {
 border:1px solid gray;
 border-collapse:collapse;
 margin-left:auto;
 margin-right:auto;
}

thead.gle th { 
 padding:6px 6px 6px 6px;
 font-size:9px;
 font:normal 10px verdana, arial, helvetica, sans-serif;
 text-align:left;
}

tbody.gle tr { 
 border:1px dotted gray;
 font:normal 10px verdana, arial, helvetica, sans-serif;
}

tbody.gle tr:hover { 
 border:1px solid #03476F;
}


#calendar { /* Fuer IE <= 6 */
	text-align: center;
	position: absolute;
}

#calendar tr { 
 border:none;
}

#calendar table thead th{ 
	font-weight: bold; 
	font-size: 1.1em;
	line-height: 1.5em;				
	color: #BFBFC1; 
	text-align: center;
	background-color: #112A5D;
}

#calendar table thead th.weekday{ 
	font-weight: bold; 
	font-size: 1em;
	line-height: 1.5em;
	color: #112A5D; 
	text-align: center;
	background-color: #CCD2D8;
	border: solid #112A5D 1px;
}

#calendar table tbody td, #calendar table tfoot td{ 
	font-weight: normal; 
	font-size: 1em;
	line-height: 1.5em;
	width: 1.7em;
	padding-left: 0.6em; 
	padding-right: 0.6em; 
	color: #0E224B; 
	text-align: right;
	border: 1px solid #CCD2D8;
}

#calendar table tfoot td {
	font-size: 0.65em;
	border: none;
}

#calendar table tfoot td.calendar_week {
	text-align: left;
}

#calendar table tbody td:hover{ 
	background-color: #CCD2D8;
	font-weight: bold;
}

#calendar table tbody td.saturday{ 
	color: #9A2525;
	font-weight: normal;
}

#calendar table tbody td.sunday{ 
	color: #9A2525;
	font-weight: bold;
}

#calendar table tbody td.weekend{ 
	color: #9A2525;
}

#calendar table tbody td.today{
	background-color: #A7B5C7;
}

#calendar table thead th.prev_year, #calendar table thead th.next_year {
	border:none;
	margin: 0.1em;
	padding: 0.1em;
	line-height: 0.75em;
	font-size: 1em;
}

#calendar table tbody td.last_month, #calendar table tbody td.next_month {
	color: 	#a3afc4;
}

#calendar table{
	border-collapse: collapse;
	border: solid #112A5D 2px;
	padding: 0;
	margin-top: 7px;
	margin-left:auto;
	margin-right:auto;
	background-color: #F6F6F6;
}
